.fullspace-master-div {
  background-color: #dfdee3;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.master-div {
  background-image: linear-gradient(
    #f3f5f4,
    #f3f5f4 30%,
    #d2d2d4 75%,
    #d2d2d4 92%,
    #373028 98%,
    #373028 100%
  );
  color: white;
  border-right: solid 1px;
  border-left: solid 1px;
  width: 95%;
  height: 93%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 7% 68% 19% 6%;
  grid-template-areas:
    "hd hd"
    "main main"
    "plaque ."
    "ft ft";
}

.top-white-space-div {
  grid-area: hd;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    #373028 0%,
    #d2d2d4 0.5%,
    #d2d2d4 70%,
    #ebecf1 75%,
    #ebecf1 100%
  );
}
.art {
  color: none;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, minmax(10%, 25%));
  grid-template-rows: repeat(2, min(45%, 50%));
  grid-gap: 5%;
  width: 90.5%;
  height: 100%;
  object-fit: contain;
  justify-self: center;
  align-self: center;
}

// .a {
//   padding: 20px;
//   background-image: url("../Assets/Vase-small.png");
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
//   border: inset 10px #e4e5ea;
//   width: 100%;
//   height: 100%;
// }
img {
  width: 100%;
  max-height: 95%;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.quad-image {
  width: 85%;
  max-height: 50%;
  object-fit: contain;
  align-self: center;
}
@-moz-document url-prefix() {
  .quad-image {
    max-height: 100%;
  }
}

.b {
  grid-column: 2/3;
  grid-row: 1/3;
  max-height: 100%;
  align-self: center;
  cursor: pointer;
}

.larger-image {
  cursor: pointer;
  align-self: center;
  max-height: 100%;
  max-width: 100%;
}
// .c {
//   background-color: blue;
// }
.d {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
// .e {
//   background-color: pink;
// }
// .f {
//   font-family: "verdanda";
// }
// .g {
//   background-color: red;
// }
// .h {
//   background-color: orange;
// }

.plaque-wording-div {
  display: grid;
  grid-template-columns: 70% 30%;
  position: relative;
  align-self: center;
  justify-self: center;
  grid-area: plaque;
  border-bottom: 14vh solid #eeeff4;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 85%;
  box-shadow: 0px 9px 10px -9px #6e6c69;
  .plaque-stand-div {
    .courtesy-h1 {
      font-family: "Archivo Narrow", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      font-size: 3.6vh;
      color: #373028;
      padding: 0;
      margin: 0;
      margin-top: 1%;
      margin-left: 3.5%;
    }
    .be-kind-p {
      font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 2vh;
      color: #373028;
      margin-left: 2.6%;
      margin-top: 1%;
    }
    .many-untitled-p {
      font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 2vh;
      color: #373028;
      margin-left: 1.8%;
      margin-top: -1%;
    }
  }

  .letter-box-div {
    position: relative;
    height: 50%;
    max-height: 50%;
    max-width: 80%;
    border: none;
    margin: 3%;
  }
}
.bottom-white-space-div {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    #e6e6ee,
    #e6e6ee 15%,
    #d6d7dc 25%,
    #d6d7dc 99%
  );
  grid-area: ft;
}

@media screen and (max-width: 600px) {
  .master-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1% 50% 100% 1%;
    padding: 0px;
    margin: 0px;
    grid-template-areas:
      "hd"
      "plaque"
      "main"
      "ft";
  }

  .top-white-space-div {
    grid-area: hd;
    height: 10px;
    border: 5px solid black;
    width: 100%;
    background-image: linear-gradient(
      #373028 0%,
      #d2d2d4 0.5%,
      #d2d2d4 70%,
      #ebecf1 75%,
      #ebecf1 100%
    );
  }

  .plaque-wording-div {
    color: orange;
    border: solid;
    height: 16em;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    align-self: center;
    justify-self: center;
    grid-area: plaque;
    width: 85%;
    box-shadow: 0px 9px 10px -9px #6e6c69;
    .plaque-stand-div {
      .courtesy-h1 {
        font-family: "Archivo Narrow", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
        font-size: 3.6vh;
        color: #373028;
        padding: 0;
        margin: 0;
      }

      .be-kind-p {
        font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 2vh;
        color: #373028;
        margin-left: 2.6%;
        margin-top: 1%;
      }
      .many-untitled-p {
        font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 2vh;
        color: #373028;
        margin-left: 1.8%;
        margin-top: -1%;
      }
    }
  }

  .art {
    border: solid;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5%;
    width: 90.5%;
    object-fit: contain;
  }

  .b {
    border: solid;
    color: pink;
    max-height: 100%;
    align-self: center;
    cursor: pointer;
  }
  img {
    width: 100%;
    object-fit: contain;
    align-self: center;
    cursor: pointer;
  }
}
