.master-return-letter {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 90%;
  height: 95px;
}

.letter-top-triangle {
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url(../Assets/envelope-lid-large.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 4;
  transition: 1.7s 2s ease-in;
  transform-origin: top;
  transform: rotateX(0deg);
}

.letter-top-triangle-open {
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url(../Assets/envelope-lid-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  transition: 1.7s ease-in;
  transform-origin: top;
  transform: rotateX(180deg);
}

.envelope {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../Assets/recovers.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.inside-letter {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0px;
  background-image: url(../Assets/letter-full-size2.jpg);
  background-size: cover;
  z-index: 1;
  transition: 2.5s 0s ease-in;
  overflow: hidden;
}

.inside-letter-open {
  width: 100%;
  height: 110%;
  max-height: 110%;
  top: -100%;
  position: absolute;
  background-image: url(../Assets/letter-full-size2.jpg);
  background-size: cover;
  z-index: 2;
  transition: 3s 0.5s ease-in;
  overflow: hidden;
  text-overflow: ellipsis;
}

.challenge-p {
  color: rgb(39, 28, 4);
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  text-align: center;
  vertical-align: middle;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: -5px;
}

.letter-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-image: url(../Assets/letter-full-size.jpg);
  background-size: cover;
  z-index: 0;
  box-shadow: 0px 9px 10px -9px #6e6c69;
}

.sealfalse {
  cursor: pointer;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/seal-cracked.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11%;
  height: 40%;
  left: 44.5%;
  top: 53%;
  transition: 2s;
  z-index: 5;
}

.sealtrue {
  cursor: pointer;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/seal.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11%;
  height: 40%;
  left: 44.5%;
  top: 53%;
  transition: 2s;
  z-index: 5;
}
